/* filename: common.css */
/* table */
table {
    border-collapse: collapse;
}

tr, td, th {
    border: 1px solid darkgray;
    padding: 5px;
}

/* .btn-normal {

}

.btn-small {

}

.btn-color-1 {

}

.btn-color-2 {

} */

/* readOnly */
[readOnly] {
    background-color: orange;
}

/* error message */
.error {
    color: red;
    font-weight: bold;
}

/* success message */
.success {
    color: green;
}
